@tailwind base;
@tailwind components;
@tailwind utilities;

/* .custom-scroll::-webkit-scrollbar {
    width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: red;
} */

@layer components {
    .custom-scroll::-webkit-scrollbar {
        @apply w-[5px];
    }
    .custom-scroll::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    .custom-scroll::-webkit-scrollbar-thumb {
        @apply bg-black/20 rounded-lg
    }
    .custom-scroll::-webkit-scrollbar-thumb:hover {
        @apply bg-black/75
    }
}
